.scale-out-enter,
.scale-out-enter-active,
.scale-out-enter-done .scale-out-exit,
.scale-out-exit-active,
.scale-out-exit-done {
    will-change: transform;
}

.scale-out-enter {
    position: relative;
    opacity: 0;
    transform: translateY(-2rem);
}
.scale-out-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.25s ease-in-out, transform 0.3s ease-out;
    transition-delay: 0.3s;
    z-index: 2;
}
.scale-out-exit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transform: translateY(0);
}
.scale-out-exit-active {
    opacity: 0;
    z-index: 1;
    transform: translateY(2rem) scale(0.9);
    transition: opacity 0.3s ease-out, transform 0.4s ease-in-out;
}
